.ui-widget-overlay {
	background: black;
}
.ui-btn-icon-notext .ui-btn-inner .ui-icon {
	margin: 1px 1px 1px 2px;
}
.ui-widget {
	border: 0;
}
.ui-field-contain  .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search {
    top: 10px;
}

#language ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

#language ul li { display: inline; }

#language ul li a
{
	text-decoration: none;
	padding: .2em 1em;
	color:black;
}
#suggestions{
	border-top:none;
}

#language ul li a:hover
{
	color: #fff;
	background-color: #369;
}

.eventBox {
	position: absolute;
	float: left;
	width: 50%;
	height: 50%;
	cursor: pointer;
}

.hover {
	border: 1px solid red;
}
#masonry_Div{
	 margin-left: 5%;
}

#masonry_Div li {
	width: 180px;
	cursor: pointer;
} 
#masonry_Div li:hover {
	background: gray;
	color: black;
}

.comicComic {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #FFC0CB;
}

.comicComic li {
	margin: 5px 3px 3px 5px;
	padding: 1px;
	float: left;
	width: 163px;
	height: 160px;
	text-align: center;
}

.container {
	width: 300px;
}

/* The white background content wrapper */
.container>.content {
	background-color: #fff;
	padding: 20px;
	margin: 0 -20px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
}

.login-form {
	margin-left: 65px;
}

legend {
	margin-right: -50px;
	font-weight: bold;
	color: #404040;
}

#closeLogin {
	display: block;
	float: right;
	margin-left: 450px;
}

#closeForgot {
	display: block;
	float: right;
	margin-left: 450px;
}

#closeMessage {
	display: block;
	float: right;
	margin-left: 450px;
}

#artImgCont{
top:0 !important;
}